.card {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    text-align: start;
    width: 280px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 5px;

    &__text {
        margin: 0;
        padding: 10px 0 10px 10px;
        overflow:hidden;
    }
}

.card-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    &__delete,
    &__edit {
        border: none;
        background: #FFFFFF;
        cursor: pointer;

        .icon-edit,
        .icon-delete {
            color: #7f8c8d;
            font-size: 17px;
        }
        .icon-edit:hover {
            color: #009432;
        }
        .icon-delete:hover {
            color: #EA2027;
        }
    }
}

.form-card {
    display: flex;
    background-color: #DFE3E6;
    width: 280px;
    min-height: 40px;
    
    &__edit-input {
        padding: 5px;
        margin: 0 10px 10px 10px;
        min-height: 35px;
        width: 240px;
        border-radius: 5px;
        font-size: 14px;
    }
    &__btn {
        border: none;
        background: #DFE3E6;
        cursor: pointer;
        
        .icon:hover {
            color: #009432;
        }
    }
}